html { 
    height: 100%; 
}



body { 
    height: 100%;
    margin: 0px; 
    padding: 0px 
}

#map_canvas {
    height: 100%; 
    width: 100%;
    z-index: 1;
}


.navbar {margin-bottom: 0px;}

#container {
    position: absolute; 
    top: 10px;
    right: 10px; 
    z-index: 99; 
}

#settings{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 150px;
    height: 300px;    
    padding: 50px;
    border: 1px solid black;
    background-color: #333;
    /*box-sizing: border-box;*/
    opacity: 0.8;
    color: #9d9d9d;
    overflow-y: scroll;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}​

#settings #hide {
    position: absolute; 
    top: 5px;
    right: 10px; 
    z-index: 99; 
}

#settings #slider {
    position: absolute; 
    top: 15px;
    left: 12px; 
    z-index: 99; 

}

#slider #slider-range-max {
    margin-top: 5px;
    width: 110px;
    margin-bottom: 5px;
}

#checkboxes {
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 20px;
    left: 5px;
}

#checkboxes li {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#familyDescription {
    display: none;
}

#familyDescription ul {
    position: relative;
    right: 25px;
}

#familyDescription li {
    display: inherit;
    padding-left: 20px;
    background-size: 15px 15px;
}

#theWall {background: url('http://www.colorhexa.com/000000.png') no-repeat left;}
#theNorth {background: url('http://www.colorhexa.com/f8f8f8.png') no-repeat left;}
#ironIslands {background: url('http://www.colorhexa.com/303030.png') no-repeat left;}
#theVale {background: url('http://www.colorhexa.com/0066ff.png') no-repeat left;}
#riverlands {background: url('http://www.colorhexa.com/d80000.png') no-repeat left;}
#stormlands {background: url('http://www.colorhexa.com/ffff33.png') no-repeat left;}
#westerlands {background: url('http://www.colorhexa.com/480000.png') no-repeat left;}
#theReach {background: url('http://www.colorhexa.com/00cc66.png') no-repeat left;}
#dorne {background: url('http://www.colorhexa.com/ff8c00.png') no-repeat left;}
#crownlands {background: url('http://www.colorhexa.com/336600.png') no-repeat left;}

#coords {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#playButton{

    border: 1px solid #FFF;
    width: 50px;
    background-color: firebrick;
    border-radius: 4px;
    color: #000000;
}

#playButton.active {
    border: 1px solid red;
    background-color: red;
    color: #FFF;
}

#pauseButton{
    border: 1px solid #FFF;
    width: 50px;
    background-color: firebrick;
    border-radius: 4px;
    color: #000000;

}

#hideButton {
    position: relative;
    top: -50px;
    left: 53px;
    width: 40px;
    height: 20px;
    font-size: smaller;
    border-radius: 4px;
    text-align: left;
    color: black;
    background-color: firebrick;
    border: 1px solid #FFF;

}

#checkboxes {
    display: inherit;
}

@media screen and (max-width: 365px) {


    .navbar-brand {
        display: none;
    }
}

